<div class =  "d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
    <h4>Jobware</h4>
    <nav>
        <a class = "btn btn-outline-primary" routerLink = "/home">Início</a>
        <!-- <a class = "btn btn-outline-primary" routerLink = "/employee-create">Criar Registro</a>-->
        <a class = "btn btn-outline-primary" routerLink = "/employee-list">Funcionários</a>
        <!-- <a class = "btn btn-outline-primary" routerLink = "/department-create">Criar Departamento</a> -->
        <a class = "btn btn-outline-primary" routerLink = "/department-list">Departamentos</a>
    </nav>
</div>
<router-outlet></router-outlet>